@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
nav{
   display:flex;
   justify-content: space-between;
}
nav > ul > li{
     list-style-type: none;
     display:inline-block;
     padding: 10px;
}
#frame{
    padding-top: 100px;
}
h3{
    color:#EC4067;
}
button{
    background-color: #EC4067;
}
