@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
nav{
   display:flex;
   justify-content: space-between;
}
nav > ul > li{
     list-style-type: none;
     display:inline-block;
     padding: 10px;
}
#frame{
    padding-top: 100px;
}
h3{
    color:#EC4067;
}
button{
    background-color: #EC4067;
}
.images, .moringa-o, .moringa-b, .grad-party{
   display: flex;
}
.im1-moringa{
    padding-left: 100px;
    padding-bottom: 100px;
}
.orientation{
    padding-left: 100px;
    padding-top: 50px;
}
.im2-moringa{
    padding-left: 150px;
}
.board-meet{
    padding-top: 50px;
}
.graduation{
    padding-left: 100px;
    padding-top: 50px;
}